{% extends "base.html" %}

{% block content %}
<h1>Nossas motos</h1>


<!-- Barra de busca -->
<div class="search-bar">
    <form method="GET" action="{% url 'cars_list' %}">
        <input type="text" name="search" placeholder="Buscar motos...">
        <button type="submit">Buscar</button>
    </form>
</div>

<!-- Seção de motos -->
<div class="motos">
    {% if cars %}
    {% for car in cars %}
    <div class="moto-item">
        <img src="{{ car.photo.url }}" alt="{{ car.nome }}">
        <h2>{{ car.nome }}</h2>
        <p>Marca: {{ car.brand }}</p>
        <p>Modelo: {{ car.model }}</p>
        <p>Ano: {{ car.modelYear }}</p>
        <p>Valor: R$ {{ car.value }}</p>
        <div class="hub-acoes">
            <button class="button-item"
                onclick="openModal('{{ car.nome }}', '{{ car.brand }}', '{{ car.modelYear }}', '{{ car.value }}')">Mais
                detalhes</button>
            <button class="button-share"
                onclick="openModal('{{ car.nome }}', '{{ car.brand }}', '{{ car.modelYear }}', '{{ car.value }}')">Compartilhar</button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="placeholder-nocontent">
        <p class="sem-resultado-placeholder">Nenhum resultado para a busca. =/</p>
    </div>
    {% endif %}
</div>
<!-- Modal -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modal-title"></h2>
        <p id="modal-content"></p>
    </div>
</div>

<script>
    function openModal(nome, marca, ano, valor) {
        document.getElementById('modal').style.display = 'block';
        document.getElementById('modal-title').innerText = nome;
        document.getElementById('modal-content').innerHTML = `
                <strong>Marca:</strong> ${marca} <br>
                <strong>Ano:</strong> ${ano} <br>
                <strong>Valor:</strong> R$ ${valor}
            `;
    }

    function closeModal() {
        document.getElementById('modal').style.display = 'none';
    }

    window.onclick = function (event) {
        const modal = document.getElementById('modal');
        if (event.target === modal) {
            closeModal();
        }
    }
</script>
{% endblock %}